/*ESTILOS PAGINA VEHICULOS*/
.banner {
    background: url(../IMG/Nuestra-Flota-ok.jpg) top/cover;
    height: 500px; }
  
  /*RESPONSIVE .BANNER*/
  @media (max-width: 780px) {
    .banner {
      display: none; } }
  
  /*ESTILOS DEL CONTENEDOR PRINCIPAL QUE COMPARTE CADA PAGINA*/
  .titulo-principal {
    position: relative;
    z-index: 2;
    bottom: 60px;
    left: 85px;
    color: white;
    font-size: 3em; }
  
  div.row.principal {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    bottom: 150px;
    background-color: rgba(0, 0, 0, 0.747);
    padding: 120px 100px 90px;
    color: white; }
  
  /*CONTENEDORES DE AUTOMOVILES*/
  .caja-economico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
    background-color: white;
    padding: 0px 0px 0px 0px; }
  
  .caja-sedan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
    background-color: white;
    padding: 0px; }
  
  .caja-suv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
    background-color: white;
    padding: 0px; }
  
  .caja-furgon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
    background-color: white;
    padding: 0px; }
  
  .titulo-automovil {
    width: 100%;
    background-color: red;
    font-size: 1em;
    padding: 10px; }
  
  .descripcion-automovil {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    color: black;
    padding: 20px 40px; }