/* PALETA DE COLORES */
$colorbg: #ffffff;
$colortext1: #252525;
$colortext2: #ffffff;
$colortext3: #858585;
$colorbase: #252525;
$colorcontainer: #000000b2;
$colorcontainer2: #ffffff8c;
$coloracento: #ff0000;

